apiVersion: apps/v1
kind: Deployment
metadata:
  name: decentnoobbot-deployment
  namespace: decentnoobbot
spec:
  replicas: 1
  selector:
    matchLabels:
      io.kompose.service: decentnoobbot-deployment
  strategy: {}
  template:
    metadata:
      labels:
        io.kompose.service: decentnoobbot-deployment
    spec:
      containers:
        - image: ghcr.io/pesca-dev/decentnoobbot:8991290fab2ce321def052f1bfcbe32c6c29f61e
          imagePullPolicy: Always
          name: decentnoobbot-deployment
          env:
          - name: RUST_LOG
            value: debug
          - name: BOT_TOKEN
            valueFrom:
              secretKeyRef:
                name: decentnoobbot-secret
                key: bot-token
          resources: {}
      restartPolicy: Always
status: {}
